@import url('https://fonts.googleapis.com/css2?family=Carme&display=swap');
@import url('./lite-yt-embed.css');

html {
  --background: hsl(270, 30%, 10%);
  --foreground: #fff;
  --foreground-light: hsl(270, 10%, 60%);
  --accent: hsl(270, 80%, 60%);
  font-family: 'Carme', sans-serif;
  background: var(--background);
  color: var(--foreground);
}
body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: min(600px, 100% - 4rem);
  place-content: center;
  justify-items: start;
}

header {
  margin: 5vh 0;
  img {
    margin: 0 0 1em -1em;
    filter: drop-shadow(0 0 20px var(--accent));
  }
}

h1 {
  font-size: clamp(2rem, 6vw, 3rem);
  line-height: 1.2;
  font-weight: normal;
  margin: 0;

  strong {
    font-weight: normal;
    color: var(--accent);
  }
}

.button {
  display: inline-flex;
  gap: 1em;
  align-items: center;
  padding: 1em 1.5em;
  font-size: 1.2em;
  text-decoration: none;
  color: var(--background);
  background: var(--accent);
  border-radius: 6px;

  svg {
    width: 2em;
    height: 2em;
  }

  &:hover {
    color: var(--background);
    background: var(--foreground);
  }
}

a {
  color: var(--accent);
  text-underline-offset: .15em;
  text-decoration-thickness: 1px;
  
  &:hover {
    text-decoration: none;
    color: var(--foreground);
  }
}

.rules {
  margin: 2em 0;
  padding-left: 1em;
  font-size: 1.2em;
  color: var(--foreground-light);

  li + li {
    margin-top: .5em;
  }

  ::marker {
    color: var(--accent);
  }
}

svg {
  fill: currentColor;
  display: block;
}

footer {
  margin-block: 5vh;
  p {
    color: var(--foreground-light);
    margin-top: 2em;
    
    a {
      color: inherit;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: min(8vw, 3em);
    flex-wrap: wrap;

    svg {
      width: 1.5em;
    }

    a {
      display: flex;
      align-items: center;
      gap: .6em;
    }
  }
}
h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5em;
}
.events {
  list-style: none;
  padding: 0;
  margin-bottom: 2em;

  > li + li {
    margin-top: 1em;
  }
}
.event {
  background: white;
  color: var(--background);
  padding: 1.5em;
  border-radius: 6px;
  line-height: 1.4;

  &.is-past {
    background: color-mix(in srgb, var(--background) 90%, white);
    color: white;

    p {
      color: var(--foreground-light);
    }
  }

  h3 {
    margin: 0 0 .2em 0;
    font-size: 1.5em;
  }
  p {
    margin-bottom: 0;
  }
  a:hover {
    color: var(--foreground-light);
  }

  lite-youtube {
    margin-top: 1em;
  }
}